/*
body{
  font-family: "Noto Serif", "Noto Serif Armenian", "Noto Serif JP", serif;
}


  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/	cmunorm.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }
*/

@font-face {
  font-family: kelvinch;
  src: url('./kelvinch/Kelvinch-Roman.otf');
}

/*
"kelvinch" is lisenced under the SIL Open Font License 1.1
by https://www.fontsquirrel.com/fonts/kelvinch
*/

body {
    font-family: palatino, kelvinch, "Noto Serif Armenian", serif;
    font-size: large;
    margin: 0px;
    counter-reset: section2 section3 section4 section5;
}

.index-main{
  margin: 10px;
}

.memo-main{
  margin: 10px;
}

.docs-main{
  margin: 10px;
}

.random-main{
  margin: 10px;
}

.main{
  margin: 10px;
  max-width: 800px;
  margin: auto;
  font-size: large;
}

.class1 {
  margin: 0px;
  width: 30%;
}

iframe{
  border: none;
}

.header iframe{
  margin: 0px;
  height: 90px;
  width: 100%;
  z-index: 9999;
}

.content{
  margin: 0px;
  height: calc(100vh - 87px);
}

header{
  height: 90px;
}

.header{
  height: 90px;
}

.content{
  flex-grow: 1;
}

a{
  text-decoration: none;
}

p{
  margin: 0px 10px;
}

blockquote{
  background-color: #f0f0f0;
  border-left: 5px solid black;
  margin-left: 5pt;
  padding: 10pt;
}

.proof{
  background-color: white;
  border-left: 5px solid #e0e0e0;
  margin: 5pt;
  margin: top 0pt;
  padding: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

.thm {
  background-color: white;
  border-style: dotted;
  margin: 10pt;
  padding: 10pt;
}

.def {
  background-color: white;
  border-left: 5px solid black;
  margin: 5pt;
  margin: top 0pt;
  padding: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

.tableofcontents{
  background-color: #f0f0f0;
  border-left: 5px solid black;
  margin: 5pt;
  margin: top 0pt;
  padding: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

.tableofcontents ol{
  list-style: none;
  counter-reset: counter;
  padding-left: 10px;
}

.tableofcontents ol li::before {
  content: counters(counter, ".") ". ";
  counter-increment:counter;
}

.tableofcontents ol li ol {
  list-style:none;
  counter-reset:counter;
}

ol{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0px; 
  margin-bottom: 0pt;
}

h1{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10pt;
}

h2{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 10pt;
  counter-reset: section3;
}

h3{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 10pt;
  counter-reset: section4;
}

h4{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 10pt;
  counter-reset: section5;
}

h5{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 10pt;
}

h6{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 10pt;
}

nav{
  position: fixed;
  float: left;
}

.navi-box{
  position: fixed;
  width: 100vw;
  height: 90px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@media screen and (min-width: 501px) {
.header-logo{
  font-size: 80px;
  float: left;
  background-color: black;
  color: white;
}

.header-list{
  padding-top: 24px;
  padding-right: 20px;
  float: left;
  background-color: white;
}

.header-list li{
  list-style: none;
  float: left;
  padding: 0px 10px;
  font-size: 30px;
}
}
@media screen and (max-width: 500px) {
  .header-logo{
    font-size: 40px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    width: 100vw;
  }

  .header-list{
    padding-top: 10px;
    padding-right: 0px;
    display: inline-block;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .header-list li{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    font-size: 25px;
    margin: auto;
  }

  .header-list ul{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    margin: auto;
  }
}


.header-list a{
  color: black;
}

.main ul{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0px; 
  margin-bottom: 0pt;
}

details{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0px; 
  margin-bottom: 0pt;
}

figure {
	float: right;
	margin: 0 0 15px 15px;
}

figcaption {
  text-align: center
}

.section_count h2::before{
  counter-increment: section2;
  content: counter(section2) ". ";
}

.section_count h3::before{
  counter-increment: section3;
  content: counter(section2) "." counter(section3) ". ";
}

.section_count h4::before{
  counter-increment: section4;
  content: counter(section2) "." counter(section3) "." counter(section4) ". ";
}

.section_count h5::before{
  counter-increment: section5;
  content: counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) ". ";
}



a.anchor {
  display: block;
}

.timetable {
  border-collapse: collapse;
  border: 4px solid black;
}

.timetable th, .timetable td {
  border: 1px solid black;
  padding: 8px 10px;
  text-align: center;
}

.schedule {
  border-collapse: collapse;
  padding: 3px 5px;
}

.schedule th {
  border-bottom: 1px solid black;
  padding: 3px 5px;
  text-align: left;
}

.schedule tr {
  text-align: left;
  padding: 3px 5px;
}

.schedule td {
  text-align: left;
  padding: 0px 5px;
}



.paradigm table{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.paradigm th{
  padding: 3px 5px;
  text-align: center;
  border-bottom: 3px double black;
}

.paradigm tr:nth-of-type(2) td{
  border-bottom: 1px solid black;
  text-align: left;
  padding: 3px 5px;
}

.paradigm tr{
  text-align: left;
  padding: 3px 5px;
  white-space: nowrap;
}

.paradigm td:nth-of-type(1){
  border-right: 1px solid black;
  text-align: left;
  padding: 0px 5px;
}

.paradigm td{
  text-align: left;
  padding: 0px 5px;
}

.multiple{
  display: flex;
  flex-wrap: wrap; /* 必要に応じて改行 */
  gap: 10px;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center;
}

.indentbox{
  margin: 10px;
  margin-left: 50px;
}