/*
body{
  font-family: "Noto Serif", "Noto Serif Armenian", "Noto Serif JP", serif;
}


  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/	cmunorm.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }
*/

@font-face {
  font-family: kelvinch;
  src: url('./kelvinch/Kelvinch-Roman.otf');
}

/*
"kelvinch" is lisenced under the SIL Open Font License 1.1
by https://www.fontsquirrel.com/fonts/kelvinch
*/

body {
    font-family: palatino, kelvinch, "Noto Serif Armenian", serif;
    font-size: large;
    margin: 0px;
}

.index-main{
  margin: 10px;
}

.memo-main{
  margin: 10px;
}

.docs-main{
  margin: 10px;
}

.random-main{
  margin: 10px;
}

.main{
  margin: 10px;
}

.class1 {
  margin: 0px;
  width: 30%;
}

iframe{
  border: none;
}

.header iframe{
  margin: 0px;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.content{
  margin: 0px;
  height: calc(100vh - 87px);
}

header{
  height: 90px;
}

.header{
  height: 90px;
}

.content{
  flex-grow: 1;
}

a{
  text-decoration: none;
}

p{
  margin:0 0 2px;
}

blockquote{
  background-color: #f0f0f0;
  border-left: 5px solid black;
  margin-left: 5pt;
  padding: 10pt;
}

.proof{
  background-color: white;
  border-left: 5px solid #e0e0e0;
  margin: 5pt;
  margin: top 0pt;
  padding: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

.thm {
  background-color: white;
  border-style: dotted;
  margin: 10pt;
  padding: 10pt;
  padding-top: 0pt;
}

.def {
  background-color: white;
  border-left: 5px solid black;
  margin: 5pt;
  margin: top 0pt;
  padding: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

.tableofcontents{
  background-color: #f0f0f0;
  border-left: 5px solid black;
  margin: 5pt;
  margin: top 0pt;
  padding: 10pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

ol{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0px; 
  margin-bottom: 0pt;
}

h1{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0pt;
}

h2{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 0pt;
}

h3{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 0pt;
}

h4{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 0pt;
}

h5{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 0pt;
}

h6{
  margin: 5px;
  margin-bottom: 5px;
  margin-left: 0pt;
}

nav{
  position: fixed;
  float: left;
}

.navi-box{
  position: fixed;
  width: 100vw;
  height: 90px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.header-logo{
  font-size: 80px;
  float: left;
  background-color: black;
  color: white;
}

.header-list{
  padding-top: 24px;
  padding-right: 20px;
  float: left;
  background-color: white;
}

.header-list li{
  list-style: none;
  float: left;
  padding: 0px 10px;
  font-size: 30px;
}

.header-list a{
  color: black;
}

ul{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0px; 
  margin-bottom: 0pt;
}

details{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0px; 
  margin-bottom: 0pt;
}

figure {
	float: right;
	margin: 0 0 15px 15px;
}

figcaption {
  text-align: center
}

a.anchor {
  display: block;
  padding-top: 140px;
  margin-top: -140px;
}

.timetable {
  border-collapse: collapse;
  border: 4px solid black;
}

.timetable th, .timetable td {
  border: 1px solid black;
  padding: 8px 10px;
  text-align: center;
}

.schedule {
  border-collapse: collapse;
  padding: 3px 5px;
}

.schedule th {
  border-bottom: 1px solid black;
  padding: 3px 5px;
  text-align: left;
}

.schedule tr {
  text-align: left;
  padding: 3px 5px;
}

.schedule td {
  text-align: left;
  padding: 0px 5px;
}