---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "活動"
---
<BaseLayout pageTitle={pageTitle}>
	<ul>
    <li><a href="/seminars/">セミナー</a></li>
    <li><a href="/documents/">私が書いた文書など</a></li>
  </ul>
</BaseLayout>


