---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "その他"
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/nonsense/">意味のない文章</a></li>
    <li>日記？</li>
    <li><a href="/tags">タグ一覧</a></li>
  </ul>
</BaseLayout>



