---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = ""
---
<BaseLayout pageTitle={pageTitle}>
	<div class="indexquote">
		<div style="font-size: 2.5em;">Inga m채nniskoord 채ro sanna.</div>
		<div style="text-align: right; font-size: 1.5em;">P채r Lagerkvist, <cite>Under Stj채rnorna</cite></div>
	</div>
</BaseLayout>

<style>
	.indexquote {
		font-family: "Cormorant Garamond", palatino, serif;
  	margin-left: 1em;
		margin-top: 20vh;
  	padding: 10pt;
	}
</style>

