---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('./posts/nonsense-*.md');
const pageTitle = "意味のない文章";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}［{post.frontmatter.pubDate.toString().slice(0,10).replace(/-0?/g, "/")}］</a></li>)}
  </ul>
</BaseLayout>