---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "プロフィール"
---
<BaseLayout pageTitle={pageTitle}>
	<h2>所属</h2>
  <p>東京大学理学部数学科（4年生；大学院進学予定）</p>

  <h2>好きなこと</h2>
  <h3>数学</h3>
  <p>言うまでもなく数学は好きです．専門は数論幾何学で，最近はモチーフや周期に関心を持っています．指導教員とのセミナーでは Huber–Wüstholz, <cite>Transcendence and linear relations of 1-periods</cite> という本を読んでいます．</p>

  <h3>言語（学）</h3>
  <p>言語にも興味があります．特に印欧語比較言語学に関心を抱いており，前期教養の頃は幾つかの古い印欧語を勉強していました．今は数学の方が忙しくてあまり時間を割けていませんが，読書会に参加したりすることはあります．一番好きな言語は古代ギリシア語です．</p>

  <h3>音楽</h3>
  <p>最近は近現代のクラシックを聴くことが多いです．マーラー，シェーンベルク，ラフマニノフ，ショスタコーヴィチ，ヴァインベルク，バッハ（!?）辺りが好き（≠ 詳しい）です．大学に入ってからヴァイオリンを始めました．まだ何も弾けません．</p>

  <h2>連絡先</h2>
  <ul>
    <li>X: <a href="https://x.com/algebraic_ghost" target="_blank" rel="noopener noreferrer">@algebraic_ghost</a></li>
    <li>YouTube: <a href="https://www.youtube.com/@algebraic_ghost" target="_blank" rel="noopener noreferrer">@algebraic_ghost</a></li>
  </ul>
</BaseLayout>


