---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "セミナー";
const allSeminars = import.meta.glob('./seminars/*.md', { eager: true });
const seminars = Object.values(allSeminars);
---
<BaseLayout pageTitle={pageTitle}>
    <ul>{seminars.map((sem:any) => <li><a href={sem.url}>{sem.frontmatter.title}</a></li>)}</ul>
</BaseLayout>


