---
---
<div class="nav-links">
  <a href="/profile/" class="c-txt line">Profile</a>
  <a href="/activities/" class="c-txt line">Activities</a>
  <a href="/memoranda/" class="c-txt line">Memoranda</a>
  <a href="/cetera/" class="c-txt line">Cetera</a>
</div>
